html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: slateblue;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}

.tile {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.75rem;
}

.tile.correct {
  background-color: greenyellow;
  border-color: green;
}

.tile.present {
  background-color: gold;
  border-color: goldenrod;
}

.tile.absent {
  background-color: gray;
  border-color: darkslategray
}
